.background {
    -fx-background-color: #1b1b1b;
}

.background > .text {
    -fx-fill: white;
}

.label {
    -fx-fill: white;
    -fx-text-fill: white;
}

/* Login FXML */
.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: #1b1b1b;
}

.tab {
    visibility: false;
}

.logo-white {
    visibility: true;
}

.loginButton {
    -fx-background-color: #302e2f;
    -fx-border-color: #302e2f;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, #302e2f, 14.1, 0, 0, 2.0);
}

.loginField {
    -fx-background-color: black;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
    -fx-effect: dropshadow(three-pass-box, #8d8686, 14.1, 0, 0, 2.0);
    -fx-text-fill: white;
}

/* Menu FXML */
.menu-bar, .scroll-pane, #msgScroll .thumb {
    -fx-background-color: #1b1b1b;
}

.menu-bar:hover, #chatScroll .thumb, .quick-icon:hover {
    -fx-background-color: #302e2f;
}

.menu-bar:hover > .container > .menu-button > .label, .menu-item > .label, .hyperlink, .hyperlink:visited {
    -fx-text-fill: white;
}

.menu-bar > .container > .menu-button:hover, .menu-bar > .container > .menu-button:pressed, .menu-bar > .container > .menu-button:showing, .menu-item:hover {
    -fx-background-radius: 10px;
    -fx-background-color: white;
}

.menu-bar > .container > .menu-button > .label, .menu-bar > .container > .menu-button:hover > .label, .menu-bar > .container > .menu-button:pressed > .label, .menu-bar > .container > .menu-button:showing > .label, .menu-item:hover > .label {
    -fx-text-fill: #1b1b1b;
}

.context-menu {
    -fx-background-color: #302e2f;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane:hover > .viewport {
    -fx-background-color: #302e2f;
    -fx-background-radius: 15px;
}

.scroll-bar {
    -fx-background-color: transparent;
}

.quick-icon {
    -fx-background-radius: 15px;
}

.quick-icon:pressed {
    -fx-background-color: red;
}

#chat-fill {
    -fx-background-color: #302e2f;
}

.chat-item, .chat-item > .text {
    -fx-background-radius: 50px;
    -fx-background-color: white;
    -fx-fill: black;
}

.chat-item:hover, .chat-item:hover > .text {
    -fx-background-color: black;
    -fx-fill: whitesmoke;
}
.msgItem:hover {
    -fx-effect: dropshadow(three-pass-box, white, 11, 0, 0, 0);
}

#msgBar {
    -fx-background-color: rgba(27, 27, 28, 50);
}